{% extends "base.html" %} {%block body%}
<section id="about">
  <h1 class="section-header">About Me</h1>
  <div class="about-container">
    <div class="about-info">
      <p>
        Hola! Me llamo JuanMCe. Soy estudiante de Ingeniería en Informatica y
        cliente regular de FrontendCafe.
      </p>
      <p>
        Me apasiona el desarrollo de aplicaciones web y estoy en constante
        aprendizaje en tecnologias Frontend.
      </p>
      <p>
        También me apasiona la musica y en mi tiempo libre me gusta tocar la
        guitarra.
      </p>
    </div>
    <div class="img-cropper">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/b/be/Frank-Zappa_in_glory.jpg"
        alt="author"
      />
    </div>
  </div>
</section>

{%endblock%}
