{% extends "base.html" %} {%block body%}
<section id="header">
  <div class="jumbotron jumbotron-fluid d-flex" id="hero">
    <div class="container align-self-center">
      <h1 class="display-4 p-1">Welcome to JuanMCe's Portfolio</h1>
      <p class="lead p-1">Front-end web developer</p>
    </div>
  </div>
</section>
<section id="main">
  <h3>Check out this pages:</h3>
  <ul class="card-container sections-container">
    <li class="card section-card"><a href="/projects">Projects</a></li>
    <li class="card section-card"><a href="/skills">Skills</a></li>
    <li class="card section-card"><a href="/about">About Me</a></li>
    <li class="card section-card"><a href="/github">Github</a></li>
  </ul>
</section>
{%endblock%}
