{% extends "base.html" %} {%block body%}
<section id="header">
  <div class="jumbotron jumbotron-fluid d-flex" id="hero">
    <div class="container align-self-center">
      <h1 class="display-4 p-1">JuanMCe (Yes, this is my name)</h1>
      <p class="lead p-1">Front-end web developer</p>
    </div>
  </div>
</section>
<section id="main">
  <h3>Check out this pages:</h3>
  <ul>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/skills">Skills</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/github">Github</a></li>
  </ul>
</section>
{%endblock%}
